<html>
<body>
    <form action='/temp' method='post'>
        <input type='text' name='city' placeholder='search city'>
        <input type='submit' value='submit'>
    </form>
    <h1><a href='/'>Click here for getting the news</a></h1>
    <hr/>
    <h1><a href='/currency'>Click here for finding currency exchange rates</a></h1>
    <hr/>
    <h2>Current weather</h2>
    <p>City: <b>{{weather.city}}, {{ weather.country }}</b></p>
    <p>{{weather.description}} |{{weather.temperature}}&#8451;</p>
</body>
</html>